spring:
  application:
    name: troops

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/troops}
    # Spring Boot will automatically parse username/password from DATABASE_URL
    # if it's in the format: postgresql://user:pass@host:port/db

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      enabled: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  address: 0.0.0.0
  port: ${PORT:8080}
